{% extends "base.html" %}

{% block content %}

    <div class="container">

        <h3 class="my-2 text-center">Register</h3>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class_="form-label") }}
                {{ form.email(class_="form-control") }}
                <small class="text-danger">
                    {% for error in form.errors.email %}
                        {{ error }}
                    {% endfor %}
                </small>
            </div>

            <div class="mb-3">
                {{ form.username.label(class_="form-label") }}
                {{ form.username(class_="form-control") }}
                <small class="text-danger">
                    {% for error in form.errors.username %}
                        {{ error }}
                    {% endfor %}
                </small>
            </div>

            <div class="mb-3">
                {{ form.password.label(class_="form-label") }}
                {{ form.password(class_="form-control") }}
                <small class="text-danger">
                    {% for error in form.errors.password %}
                        {{ error }}
                    {% endfor %}
                </small>
            </div>

            <div class="mb-3">
                {{ form.validatePassword.label(class_="form-label") }}
                {{ form.validatePassword(class_="form-control") }}
                <small class="text-danger">
                    {% for error in form.errors.validatePassword %}
                        {{ error }}
                    {% endfor %}
                </small>
            </div>

            <div class="mb-3">
                {{ form.submit(class_="btn btn-success") }}
            </div>
        </form>
    </div>

{% endblock %}