<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Docker Remote</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item nav-link {% if index %} active {% endif %}"
                           href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link {% if images %} active {% endif %}"
                           href="{{ url_for('images') }}">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link {% if containers %} active {% endif %}"
                           href="{{ url_for('containers') }}">Containers</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <ul class="navbar-nav">
                        {% if not session['username'] %}
                            <li class="nav-item {% if login %} active {% endif %}">
                                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                            </li>
                            <li class="nav-item {% if register %} active {% endif %}">
                                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>
